.new-collections {
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    min-height:90vh;
    margin-bottom: 100px;
}
.new-collections h1 {
    color:#171717;
    font-weight:600;
    font-size:50px
}
.new-collections hr {
    background-color:#252525;
    border-radius:10px;
    width:200px;
    height:6px;
}
.collections {
    display: flex;
    gap:60px;
    justify-content: center;
    margin:50px 100px;
    flex-wrap: wrap;
}
@media (max-width:1280px) {
    .new-collections h1{
        font-size: 40px;
    }
    .new-collections hr {
        width:160px;
        height:4px;
    }
    .collections {
        gap:20px;
        margin-top: 30px;
    }
}
@media (max-width:1024px) {
    .new-collections h1{
        font-size: 30px;
    }
    .new-collections hr {
        width:130px;
        height:3px;
    }
    .collections {
        gap:15px;
        margin-top: 20px;
    }
}
@media (max-width:800px) {
    .new-collections {
        gap: 6px;
    }
    .new-collections h1{
        font-size: 20px;
    }
    .new-collections hr {
        width:100px;
    }
    .collections {
        gap:5px;
    }
}
@media (max-width:580px) {
    .collections {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:20px;
    }
}

